HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# 🔥 Ignorer les fichiers de données PostgreSQL persistantes
src/main/docker/postgres-data/

# 🔥 Ignorer les fichiers de logs (si tu en génères dans Docker)
src/main/docker/*.log


# 🔥 Ignorer les fichiers temporaires Docker Compose
src/main/docker/.env
src/main/docker/docker-compose.override.yml
src/main/docker/prod/** 

